body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    text-align: center;
}
a {
    color: seashell;
    text-decoration: underline;
}
.navContainer {
    display: grid;
    grid-template-columns: 200px auto 350px;
    position: fixed;
    background-color: rgba(0, 0, 0, .9);
    top: 0;
    left: 0;
    right: 0;
    height: 69px;
    padding: 0 10px;
    border-bottom-style: solid;
    border-bottom-color: seashell;
    border-bottom-width: 1px;
}
.navContainerItem {
    display: flex;
    flex-flow: row wrap;
    align-self: center;
    justify-content: space-between;
}
header img {
    grid-column-start: 1;
    height: 50px;
}
#navBar {
    grid-column-start: 3;
    grid-column-end: -1;
    text-align: right;
}
@media screen and (max-width: 600px) {
    #navBar {
      flex-direction: column;
      text-align: left;
      font-size: 18px; /* resize text to fit in header */
    }
}
.mainContainer {
    display: grid;
    padding-top: 69px;
    grid-template-columns: 100px 10px 165px 125px 10px 40px 125px 50px 125px 40px 10px 125px 165px 10px 100px;
    grid-template-rows: 350px 350px 2000px;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
}
.mainContainerItem {
    display: flex;
    flex-flow: row wrap;
    align-self: center;
}
#missionBackgroundImage {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
    height: 700px;
    align-self: flex-start;
}
#mission {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 3;
    justify-content: center;
    justify-self: stretch;
    background-color: black;
}
